$chatMessageRadius: 20px;
$chatMessageMargin: 12px;
$chatMessagePadding: 12px;
$chatTimePadding: 50px;
$chatMessageUserPicSize: 32px;
$chatMessageUserPicMarginX: 10px;
$userMessageUserPicSize: 42px;
$chatMessageFS: 13px;

$chatMessageMyMsgBG: #3D51DE;
$chatMessageMyMsgTextColor: white;
$chatMessageMyMsgTimeColor: #DEE2FD;

$chatMessageCompanionMsgBG: white;
$chatMessageCompanionMsgTextColor: #363636;
$chatMessageCompanionMsgTimeColor: #C1BFBF;

#chatMain {
    box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.07);
    min-height: calc(100vh - 105px);
}

.media-pic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: $userMessageUserPicSize;
    height: $userMessageUserPicSize;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $userMessageUserPicSize;
    }
}

.message-item {
    margin: 3px 0 5px;

    &.my-message,
    &.companion-message {
        display: block;
        max-width: 80%;

        &.compact-message{
            margin-top: $chatMessageMargin/4;
        }
    }

    &.my-message {

        .message-body {
            position: relative;
            background-color: $chatMessageMyMsgBG;
            border-radius: $chatMessageRadius $chatMessageRadius 0px $chatMessageRadius;
            padding: $chatMessagePadding;
            padding-left: $chatTimePadding;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .message-user-pic {
            margin-left: $chatMessageUserPicMarginX;
        }

        .message-text {
            display: block;
            color: $chatMessageMyMsgTextColor;
            font-size: $chatMessageFS;
        }

        .message-time {
            position: absolute;
            top: $chatMessageFS + 1;
            left: 10px;
            font-size: 11px;
            color: $chatMessageMyMsgTimeColor;
        }
    }

    &.companion-message {

        .message-body {
            position: relative;
            background-color: white;
            border-radius: $chatMessageRadius $chatMessageRadius $chatMessageRadius 0px;
            padding: $chatMessagePadding;
            padding-right: $chatTimePadding;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
        }

        .message-user-pic {
            margin-right: $chatMessageUserPicMarginX;
        }

        .message-text {
            display: block;
            font-size: $chatMessageFS;
            color: $chatMessageCompanionMsgTextColor;
        }

        .message-time {
            position: absolute;
            top: $chatMessageFS + 1;
            right: 10px;
            font-size: 11px;
            color: $chatMessageCompanionMsgTimeColor;
        }
    }

    .message-user-pic {
        width: $chatMessageUserPicSize;
        min-width: $chatMessageUserPicSize;
        max-width: $chatMessageUserPicSize;
        height: $chatMessageUserPicSize;
        min-height: $chatMessageUserPicSize;
        max-height: $chatMessageUserPicSize;
        display: block;
        overflow: hidden;

        .message-user-img {
            width: 100%;
            height: 100%;
            border-radius: $chatMessageUserPicSize/2;
        }
    }
}
