.plz-profile-filter {
    color: #9b9998;
    font-size: 13px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 20px;
    padding: 0 20px;

    .profile-filter-links {
        a {
            font-size: 13px;
            font-family: OpenSans, sans-serif;
            color: #939292;
            padding-right: 0;
            padding-left: 0;
            margin-right: 2rem;
            line-height: 50px;
            cursor: pointer; /** у <a> нету href наверное поэтому палец не показыватся, приходится фОрсить **/
        }

        .active {
            font-family: OpenSans-Bold, sans-serif;
            border-bottom: 2px solid #576DF6;
            font-weight: bold;
            color: #2F2F2F;
        }

    }
}
