
$plzNavBarAvatarSize: 40px;
$plzNavBarProfileColor: #A6A7A9;

#authHeader {
    .profile-menu {
        .dropdown-item {
            font-size: 12px;
            opacity: .8;
            transition: .4s;

            &.active,
            &:hover {
                opacity: 1;
                background-color: transparent;
            }
        }
        .dropdown-menu-btn {
            box-shadow: none;
            &[aria-expanded="true"] {
              .fa-chevron-down {
                  transform: rotate(180deg);
              }
            }
        }
    }
    .fixed-top {
        background-color: $plzBodyBG;
    }
    .fa-chevron-down {
        transition: .4s;
    }
    .user-friend {
        transition: .4s;

        &:hover {
            background-color: $bgHover;
        }
    }

}

.plz-top-player {
    .btn {
        font-size: 10px;
        color: #A5A9C4;
    }
    .btn-song {
        font-size: 13px;
    }
}

.profile-menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: $plzNavBarProfileColor;

    .profile-menu-opener {
        font-size: 10px;
        cursor: pointer;
    }

    .profile-menu-item,
    .profile-menu-link {
        position: relative;

        span {
            display: inline-block;
            line-height: $plzNavBarAvatarSize;
            color: $plzNavBarProfileColor;
            margin-right: 15px;
        }

        img {
            display: inline-block;
            vertical-align: top;
            width: $plzNavBarAvatarSize;
            height: $plzNavBarAvatarSize;
            border-radius: $plzNavBarAvatarSize;
        }

        /* специально для индикации временного аватара */
        img.default-avatar {
            //border: 1px solid red;
        }

    }
}

