$picSize: 42px;

.plz-favorit-friends {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    position: relative;

    &.is-pick-favorite {
        box-shadow: none;
    }

    .plz-favorit-friends-item {
        position: relative;
        cursor: pointer;
        transition: .4s;

        &:hover {
            background-color: #dae4ee;
        }

        &.active {
            /**
            * @TGA старый вариант
            border-radius: 20px 20px 20px 0;
            margin-left: 3px!important;
            margin-right: 3px!important;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
             */
            border-radius: 20px 20px 20px 0;
            margin-left: 3px!important;
            margin-right: 3px!important;
            background-color: white;
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
        }

        .plz-linked-chat-block{
            position: absolute;
            display: none;
            right: 100%;
            top: 0;
            //z-index: 900;
            min-width: 200px;
            min-height: 100px;


            &.active-chat{
                display: block;
            }

            .plz-linked-chat-body {
                min-height: 520px;
                min-width: 720px;
            }
        }
    }

    .fa-chevron-right{
        font-size: 10px;
        color: #ACACAC;
        line-height: 27px;
    }

    .border-bottom{
        border-color: #e9ecf6;
    }

    .plz-ff-title {
        font-size: 16px;
        color: #50535e;
    }

    .plz-favorit-friend-userpic {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: $picSize;
        min-width: $picSize;
        height: $picSize;
        margin-right: 20px;

        img {
            width: $picSize;
            height: $picSize;
        }
    }

    .plz-favorit {
        &-isonline {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0;
            bottom: 0;
            background-color: #9fcd48;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        &-isoffline {
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 0;
            bottom: 0;
            background-color: #cacac9;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        &-friend-name {
            font-size: 13px;
            color: #50535e;
        }
        &-friend-status {
            display: flex;
            align-items: center;

        }
        &-friend-status p {
            color: #acaeb7;
            font-size: 13px;
            margin-bottom: 0;
        }
    }

    .plz-ff-messages-count span {
        display: inline-block;
        vertical-align: top;
        padding: 0 5px;
        height: 16px;
        background-color: #ef482c;
        font-size: 11px;
        font-weight: 600;
        color: #fff;
        border-radius: 16px
    }

    &-spinner {
        .text-center.pr-3 {
            padding: 10px!important;
        }
        .text-info h3 {
            display: none;
        }
    }

}

.friend-status {
    &-isonline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        bottom: 0;
        background-color: #9fcd48;
        border: 1px solid #fff;
        border-radius: 100%;
    }
    &-isoffline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0;
        bottom: 0;
        background-color: #cacac9;
        border: 1px solid #fff;
        border-radius: 100%;
    }
}
