.plz-gallery-viewer {
    position: fixed;
    width: 70%;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;

    &-overflow {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 1;
        cursor: pointer;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &-nav {
        width: 100%;
        height: 100vh;
        position: absolute;

        &-btn {
            position: absolute;
            top: 50%;
            z-index: 5;
            background: #000;
            box-shadow: 0 0 4px 0 rgba(255, 255, 255, .5);
            padding: 10px;
            border-radius: 50%;
            opacity: 0.6;
            transition: opacity .3s;
            transform: translateY(-50%);
            transform-origin: 50% 50%;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }

            img {
                width: 25px;
                height: 25px;
                margin: 0 !important;
                user-select: none;
            }
            &-prev {
                left: 5px;
            }
            &-next {
                right: 5px;
            }
        }
    }

    &-close {
        position: absolute;
        right: 32px;
        top: 32px;
        width: 32px;
        height: 32px;
        opacity: 0.3;
        z-index: 2001;
        border: none;
        background: none;
        outline: none;
        display: inline-block;
        &:focus {
            outline: none;
        }
    }
    &-close:hover {
        opacity: 1;
    }
    &-close:before, .plz-gallery-viewer-close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: #ffffff;
    }
    &-close:before {
        transform: rotate(45deg);
    }
    &-close:after {
        transform: rotate(-45deg);
    }

    &-current {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
            z-index: 2;
            max-height: 100%!important;
            max-width: calc(100% - 100px)!important;
            width: 70%;
        }
    }
}
