
$portraitFullHeight: 750px;


.plz-gallery {
    position: relative;
    &-wrap {
        overflow: hidden;
        height: $portraitFullHeight;
    }
    &-pic {
        //padding: 5px;
    }
    &-image {
        object-fit: cover;
        cursor: pointer;
        padding: 5px;

        &-album {
            &-full {
                width: 100%;
            }

            &-half {
                width: calc(100% / 2 - 5px);
            }

            &-third {
                width: calc(100% / 3 - 5px);
            }

            &-2 {
                height: $portraitFullHeight / 2;
            }
            &-3 {
                height: $portraitFullHeight / 2;
            }

        }

        &-portrait {
            height: 100%;
            width: 100%;

            &-block-1 {
                width: 100%;
            }

            &-block-one {
                img {
                    width: auto;
                    max-width: 100%;
                }
            }

            &-block-2 {
                width: 100%;
            }

            &-block-3 {
                width: 100%;
            }

            &-full {
                height: $portraitFullHeight;
            }

            &-half {
                height: $portraitFullHeight/ 2;
            }

            &-third {
                height: $portraitFullHeight/ 3;
            }
        }
    }

    &-portrait {
        display: flex;
    }
}


.plz-gallery-viewer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 10000;
    top: 0;
    left: 0;

    &-overflow {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: #000;
        opacity: 0.7;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            top: 50px;
            right: 20px;
            display: inline-block;
            vertical-align: middle;
            background: url("../images/icons/icon-modal-close.png") 50% 50% no-repeat;
            width: 20px;
            height: 20px;
            cursor: pointer;
        }
    }

    &-nav {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        //z-index: 2;

        &-btn {
            display: inline-block;
            color: #ffffff;
            padding: 3px 6px;
            cursor: pointer;
            transition: .4s;

            &:active {
                background-color: rgba(0, 0, 0, .3);
            }
        }
    }

    &-current {
        position: relative;
        width: auto;
        height: auto;
        max-width: calc(100vw - 200px);
        max-height: calc(100vh - 200px);
        img {
            max-width: 100%;
            max-height: calc(100vh - 200px);
            user-select: none;
        }
    }
}

