
$portraitFullHeight: 750px;


.plz-gallery {
    position: relative;

    .message-gallery {
        width: 100%;
        img {
            width: 100%;
            height: auto;
        }
    }

    &--open {
        header {
        z-index: 1;
        }
    }

    &-wrapper {
      display: inline;
    }

    &-attached-chat {
        .plz-gallery-single {
            .plz-gallery-wrap {
                img {
                    width: 200px !important;
                    height: 200px;
                }
            }
        }
        .plz-gallery-portrait {
            display: flex;
         .plz-gallery-image-portrait-block-2, .plz-gallery-image-portrait-block-1 {
             width: 100px;
         }
    }

        .plz-gallery-image-portrait-wrap {
            height: 170px;
            width: 200px;
        }

        .plz-gallery-viewer-nav {
            width: 100vw;
        }

        .plz-gallery-viewer {
            width: 100vw;
        }

    }
    &-wrap {
        overflow: hidden;
        height: $portraitFullHeight;
    }
    &-pic {
        //padding: 5px;
    }
    &-image {
        object-fit: cover;
        cursor: pointer;
        padding: 5px;
        width: 100%;

        &-mores {
            position: relative;
            &::before {
                background-image: linear-gradient(to right, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.85) 100%);
                content: attr(data-more);
                position: absolute;
                height: 97%;
                width: 98%;
                background-size: 100%;
                color: white;
                cursor: pointer;
                font-size: 32px;
                top: 50%;
                left: 50%;
                text-align: center;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &-album {
            &-full {
                width: 100%;
            }

            &-half {
                height: 50%;
                width: calc(100% / 2);
            }

            &-third {
                width: calc(100% / 3);
                height: 150px;
            }

            &-2 {
                height: $portraitFullHeight / 2;
            }
            &-3 {
                height: $portraitFullHeight / 2;
            }
        }

        &-portrait {
            height: 100%;
            width: 100%;

            &-block-1 {
                width: 100%;
            }

            &-block-one {
                img {
                    width: auto;
                    max-width: 100%;
                }
            }

            &-block-2 {
                width: 100%;
            }

            &-block-3 {
                width: 100%;
            }

            &-full {
                height: $portraitFullHeight;
            }

            &-half {
                height: $portraitFullHeight / 2;
            }

            &-third {
                height: $portraitFullHeight / 3;
            }
        }
    }

    &-portrait {
        display: flex;
    }
}
