$EditorUserPicSize: 32px;

.plz-text-editor {

    .chat-companion-user-pic {
        width: $EditorUserPicSize;
        height: $EditorUserPicSize;
        min-width: $EditorUserPicSize;
    }

    .editor-content {
        padding: 6px 4px;

        p {
            margin-bottom: 0;
        }
    }

    &-form {
        border-color: $borderColor;
    }

    .menubar {
        .btn {
            i {
                color: #1554F7;
            }
        }
    }
    .placeholder {
        font-size: .8rem;
        color: $grey;
    }
}
.editor-content {
    height: 100%;

    .ProseMirror {
        height: 100%;
        outline: none;
        p {
            margin-bottom: 0;
        }
    }
}

#messageToUserFromHisPage {
    .col-10 {
        max-width: calc(100% - 150px);
    }
    .col-2 {
        min-width: 120px;
    }
}

.plz-attachment-images {
    img {
        height: auto;
        min-width: 55px;
    }
    .media {
        &:hover {
            .btn-close {
                opacity: 1;
            }
        }

        .fa,
        .fas {
            color: #97a0ad;
        }
    }

    .btn-close {
        position: absolute;
        top: -5px;
        left: 100%;
        width: 20px;
        height: 20px;
        display: inline-block;
        padding: 4px;
        border: 0;
        background-color: #ef482c;
        font-size: 10px;
        color: #fff;
        border-radius: 100%;
        transform: translate(-60%, 0%) rotate(45deg);
        transition: 0.4s;
        z-index: 1;
        opacity: 0;
        .fa,
        .fas {
            color: #ffffff;
        }
    }
}
