.plz-account-settings-main {

}

.plz-account-settings-privacy {

}


.plz-account-settings-security {

}

// profileHeader

 .plz-profile-userpic-container {
     width: 100%;
     max-width: 245px;
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
 }
 .plz-profile-userpic-wrapper {
     position: relative;

     img {
         position: relative;
         top: 0;
         left: 50%;
         transform: translateX(-50%);
     }
 }

.plz-profile-userpic-footer {
    padding: 9px;
}
.plz-profile-userpic-edit {
    display: block;
    height: 34px;
    line-height: 32px;
    padding: 0;
    border: 2px solid #f0f0f0;
    border-radius: 20px;
    background-color: transparent;
    width: 100%;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}
.plz-profile-userpic-edit  {
    text-transform: uppercase;
    color: #6f7487;
    font-size: 11px;
    text-align: center;
    font-weight: 600;

    span {
        line-height: 32px
    }
    .ps-dot {
        display: inline-block;
        width: 2px;
        height: 2px;
        border-radius: 2px;
        background-color: #6f7487;
        margin: 0 3px;
    }
}
.plz-profile-userpic-edit:hover {
    background-color: #a6a7a9;
    color: #fff;
}

.plz-profile-userdetails {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    background-color: white;
}
.plz-profile-userdetails .online{
    position: relative;
    margin: 0;
    color: #acacac
}
.plz-profile-userdetails .online:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #9fcd48;
    transform: translateY(-60%);
}
.plz-user-name {
    font-size: 16px;
    color: #4e4e4d;
    font-weight: 600;
}

.plz-user-profile-details {
    max-width: 600px;
}
.plz-user-profile-details td {
    width: auto;
    padding: 3px 0;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
    color: #9A9A9A;
}
.plz-user-profile-details td:first-child {
    width: 190px;
}
.plz-user-profile-details td:last-child {
    color: #515151;
}
.plz-profile-userdetails .bg-white-br20 {
    border-bottom: 2px solid #f0f0f0;
    border-radius: 0;
}
.plz-profile-userdetails-numbers {
    display: inline-block;
    text-align: center;
}

.numbers-top {
    display: block;
    font-size: 24px;
    color: #363636;
    font-weight: 600;
}
.numbers-bottom {
    display: block;
    font-size: 13px;
    color: #9a9a9a;
}


//favoriteFriends

 .plz-favorit-friends {
     box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
 }
.plz-favorit-friends .fa-chevron-right{
    font-size: 10px;
    color: #acacac;
    line-height: 27px;
}
.plz-favorit-friends .border-bottom{
    border-color: #e9ecf6;
}
.plz-favorit-friends-list {
    overflow: auto;
    max-height: 430px;
}

.plz-ff-title {
    font-size: 16px;
    color: #50535e;
}

.plz-favorit-friend-userpic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 42px;
    min-width: 42px;
    height: 42px;
    margin-right: 20px;

     img {
        width: 42px;
        height: 42px;
    }
}

.plz-favorit-isonline {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: #9fcd48;
    border: 1px solid #fff;
    border-radius: 100%;
}
.plz-favorit-isoffline {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: #cacac9;
    border: 1px solid #fff;
    border-radius: 100%;
}
.plz-favorit-friend-name {
    font-size: 13px;
    color: #50535e;
}
.plz-favorit-friend-status {
    display: flex;
    align-items: center;

}
.plz-favorit-friend-status p {
    color: #acaeb7;
    font-size: 13px;
    margin-bottom: 0;
}
.plz-ff-messages-count span {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    height: 16px;
    background-color: #ef482c;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    border-radius: 16px
}

// ShortFriends
.plz-favorit-friends-item {
    transition: .4s;
}
.plz-favorit-friends-item:hover {
    background-color: #dae4ee;
}

.plz-short-friend-is-active {
    cursor: pointer;
}
.plz-ff-title .plz-ff-subtitle {
    display: inline-block;
}
.plz-ff-subtitle {
    color: #9a9a9a;
    font-size: 12px;
}

.plz-short-friend-is-active {
    font-size: 14px;
    color: #c5c8d1;
    transition: .4s;

    &:hover {
        color: #576df6;
    }
}


// TODO: ProfileFilter

#profile-filter {
    color: #9b9998;
    font-size: 13px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 20px;
    padding: 0 20px;
}
.profile-filter {
    a{
        font-size: 13px;
        font-family: OpenSans, sans-serif;
        color: #939292;
        padding-right: 0;
        padding-left: 0;
        margin-right: 2rem;
        line-height: 50px;
    }
    .active {
        font-family: OpenSans-Bold, sans-serif;
        border-bottom: 2px solid #576df6;
        font-weight: bold;
        color: #2f2f2f;
    }

}

.plz-profile-photos {
}
