$chatMessageRadius: 20px;
$chatMessageMargin: 12px;
$chatMessagePadding: 12px;
$chatMessageUserPicSize: 32px;
$chatMessageUserPicMarginX: 10px;

$chatMessageMyMsgBG: #3D51DE;
$chatMessageMyMsgTextColor: white;
$chatMessageMyMsgTimeColor: #DEE2FD;

$chatMessageCompanionMsgBG: white;
$chatMessageCompanionMsgTextColor: #363636;
$chatMessageCompanionMsgTimeColor: #C1BFBF;

#chatMain {
    box-shadow: 0px 2px 54px 0px rgba(0, 0, 0, 0.07);
}

.media-pic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 42px;
    height: 42px;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.message-item {
    &.my-message, &.companion-message {
        display: block;
        max-width: 80%;

        &.compact-message{
            margin-top: $chatMessageMargin/4;
            margin-bottom: 0px;
        }
    }

    &.my-message {
        float: right;

        .message-body {
            background-color: $chatMessageMyMsgBG;
            border-radius: $chatMessageRadius $chatMessageRadius 0px $chatMessageRadius;
            padding: $chatMessagePadding;

            display: block;
            float: right;
        }

        .message-user-pic {
            margin-left: $chatMessageUserPicMarginX;
            float: right;
        }

        .message-text {
            display: block;
            float: right;
            color: $chatMessageMyMsgTextColor;
        }

        .message-time {
            display: block;
            float: left;
            padding-right: 10px;
            color: $chatMessageMyMsgTimeColor;
        }
    }

    &.companion-message {
        float: left;

        .message-body {
            background-color: white;
            border: 1px solid grey;
            border-radius: $chatMessageRadius $chatMessageRadius $chatMessageRadius 0px;
            padding: $chatMessagePadding;

            display: block;
            float: left;
        }

        .message-user-pic {
            margin-right: $chatMessageUserPicMarginX;
            float: left;
        }

        .message-text {
            display: block;
            float: left;
            color: $chatMessageCompanionMsgTextColor;
        }

        .message-time {
            display: block;
            float: right;
            padding-left: 10px;
            color: $chatMessageCompanionMsgTimeColor;
        }
    }

    .message-user-pic {
        width: $chatMessageUserPicSize;
        min-width: $chatMessageUserPicSize;
        max-width: $chatMessageUserPicSize;
        height: $chatMessageUserPicSize;
        min-height: $chatMessageUserPicSize;
        max-height: $chatMessageUserPicSize;
        display: block;
        overflow: hidden;

        .message-user-img {
            width: 100%;
            height: 100%;
            border-radius: $chatMessageUserPicSize/2;
        }
    }
}

//.message-item.my-message,
//.message-item.companion-message {
//    display: block;
//    max-width: 80%;
//    margin: $chatMessageMargin;
//    background-color: red;
//}
//.message-item.my-message.compact-message, .message-item.companion-message.compact-message {
//    margin-top: $chatMessageMargin/4;
//    margin-bottom: 0px;
//}
//.message-item.my-message {
//    display: block;
//    float: right;
//}
//.message-item.my-message .message-body {
//    background-color: #3d51de;
//    border-radius: $chatMessageRadius $chatMessageRadius 0px $chatMessageRadius;
//    padding: $chatMessagePadding;
//
//    display: block;
//    float: right;
//}
//.message-item.companion-message {
//    display: block;
//    float: left;
//}
//.message-item.companion-message .message-body {
//    background-color: white;
//    border: 1px solid grey;
//    border-radius: $chatMessageRadius $chatMessageRadius $chatMessageRadius 0px;
//    padding: $chatMessagePadding;
//
//    display: block;
//    float: left;
//}
//.message-item .message-user-pic {
//    width: 32px;
//    height: 32px;
//    display: block;
//}
//.message-item.companion-message .message-user-pic {
//    margin-right: $chatMessageUserPicMarginX;
//    float: left;
//}
//.message-item.my-message .message-user-pic {
//    margin-left: $chatMessageUserPicMarginX;
//    float: right;
//}
//.message-item.companion-message .message-text {
//    display: block;
//    float: left;
//    color: $chatMessageCompanionMsgTextColor;
//}
//.message-item.my-message .message-text {
//    display: block;
//    float: right;
//    color: $chatMessageMyMsgTextColor;
//}
//.message-item.companion-message .message-time {
//    display: block;
//    float: right;
//    padding-left: 10px;
//    color: $chatMessageCompanionMsgTimeColor;
//}
//.message-item.my-message .message-time {
//    display: block;
//    float: left;
//    padding-right: 10px;
//    color: $chatMessageMyMsgTimeColor;
//}

/** Dialogs list **/
.user-friend {
    &-pic {
        display: inline-block;
        position: relative;
        img {
            display: inline-block;
            width: 42px;
            height: 42px;
        }
    }

    &-isonline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0px;
        bottom: 0px;
        background-color: #9fcd48;
        border: 1px solid #fff;
        border-radius: 100%;
    }
    &-isoffline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0px;
        bottom: 0px;
        background-color: #cacac9;
        border: 1px solid #fff;
        border-radius: 100%;
    }

    &-body {
        &-top {
            time {
                font-size: 11px;
                color: #9a9a9a;// add color to var
            }
        }
    }

    &-name {
        font-size: 13px;
        font-weight: 600;
        color: #363636;
        line-height: 20px;
        cursor: pointer;

        &:hover{
            text-decoration: underline;
            color: #9a9a9a;
        }
    }

    &-desc {
        font-size: 12px;
        color: #9a9a9a;
    }

    &-details {
        font-size: 12px;
        color: #363636;
    }

}
