:root {
    --chat-message-radius: 20px;
    --chat-message-margin: 12px;
    --chat-message-padding: 12px;
}

#chatMain {
    box-shadow: 0px 2px 54px 0px rgba(0, 0, 0, 0.07);
}

.media-pic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 42px;
    height: 42px;
    overflow: hidden;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
.message-item.my-message,
.message-item.companion-message {
    display: block;
    max-width: 80%;
    margin: var(--chat-message-margin);
}

.message-item.my-message.compact-message, .message-item.companion-message.compact-message {
    margin-top: calc(var(--chat-message-margin) / 4);
    margin-bottom: 0px;
}

.message-item.my-message {
    display: block;
    float: right;
}

.message-item.my-message .message-body {
    background-color: #3d51de;
    border-radius: var(--chat-message-radius) var(--chat-message-radius) 0px var(--chat-message-radius);
    padding: var(--chat-message-padding);

    display: block;
    float: right;
}

.message-item.companion-message {
    display: block;
    float: left;
}

.message-item.companion-message .message-body {
    background-color: white;
    border: 1px solid grey;
    border-radius: var(--chat-message-radius) var(--chat-message-radius) var(--chat-message-radius) 0px;
    padding: var(--chat-message-padding);

    display: block;
    float: left;
}

.message-item .message-user-pic {
    width: 32px;
    height: 32px;
    display: block;
}

.message-item.companion-message .message-user-pic {
    margin-right: 10px;
    float: left;
}

.message-item.my-message .message-user-pic {
    margin-left: 10px;
    float: right;
}

.message-item.companion-message .message-text {
    display: block;
    float: left;
    color: #363636;
}

.message-item.my-message .message-text {
    display: block;
    float: right;
    color: white;
}

.message-item.companion-message .message-time {
    display: block;
    float: right;
    padding-left: 10px;
    color: #C1BFBF;
}

.message-item.my-message .message-time {
    display: block;
    float: left;
    padding-right: 10px;
    color: #DEE2FD;
}

//left side

.user-friend {
    &-pic {
        display: inline-block;
        position: relative;
        img {
            display: inline-block;
            width: 42px;
            height: 42px;
        }
    }

    &-isonline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0px;
        bottom: 0px;
        background-color: #9fcd48;
        border: 1px solid #fff;
        border-radius: 100%;
    }
    &-isoffline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 0px;
        bottom: 0px;
        background-color: #cacac9;
        border: 1px solid #fff;
        border-radius: 100%;
    }

    &-body {
        &-top {
            time {
                font-size: 11px;
                color: #9a9a9a;// add color to var
            }
        }
    }

    &-name {
        font-size: 13px;
        font-weight: 600;
        color: #363636;
        line-height: 20px
    }

    &-desc {
        font-size: 12px;
        color: #9a9a9a
    }

    &-details {
        font-size: 12px;
        color: #363636;
    }

}
