@import './ui-kit/plizi-variables.scss';

$plzLoginBtnBlueColor: #3D51DE;

.loginPage-wrap {
    height: 100%;
    min-height: 800px;
}

body.LoginPage, body.HomePage {
    background-image: url("../images/plizi-bg-exp.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

body.LoginPage > .container-fluid, body.HomePage > .container-fluid {
    max-width: 1008px;
}

body.LoginPage .modal-dialog-centered {
    width: 100%;
    max-width: 404px;
}

body.LoginPage .modal-body {
    padding: 35px 60px 50px;
}

.icon-user {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-user.png") 50% 50% no-repeat;
    width: 16px;
    height: 16px;
}

.icon-letter {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-letter.png") 50% 50% no-repeat;
    width: 17px;
    height: 12px;
}
.icon-calendar {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-calendar.png") 50% 50% no-repeat;
    width: 17px;
    height: 18px;
}

.form-control.lr-input {
    border-radius: 0;
    width: 278px;
    max-width: 278px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0 0 1px 0;
    border-color: #D7D7D7;
    background-color: transparent;
}

.form-control.lr-input:focus,
.form-control.lr-input:active {
    box-shadow: none;
    outline: 0 none;
    border-color: #000000;
}

.btn.plz-btn {
    display: block;
    margin: 0 auto;
    padding: 0;

    width: 278px;
    max-width: 278px;
    min-width: 278px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 34px;
    border-radius: 20px;
    text-align: center;

    box-shadow: none;
    outline: 0 none;
    transition: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn.plz-btn-primary {
    background-color: $plzLoginBtnBlueColor;
    color: white;
}

.btn.plz-btn-outline {
    color: $plzLoginBtnBlueColor;
    background-color: white;
    border-width: 2px;
    border-color: $plzLoginBtnBlueColor;
}
