@import './plizi-variables.scss';

$plzLoginFormW: 420px;
$plzSocNetBtnSize: 48px;

.plz-login-form {
    width: $plzLoginFormW;
    max-width: $plzLoginFormW;
    min-width: $plzLoginFormW;
    margin-right: 24px;
}

.lr-input-email, .lr-input-password {
    background-image: url("../images/icons/input-email.png");
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.lr-input-password {
    background-image: url("../images/icons/input-name.png");
}

.btn.plz-btn.btn-login {
    margin-top: 27px;
    box-shadow: 0 5px 18px rgba(61, 81, 222, .4);
}

//.btn {
//    cursor: pointer;
//}

.btn.plz-btn.btn-login:hover {
    box-shadow: none;
}

.btn.plz-btn.btn-registration {
    margin-top: 20px;
}

.btn.btn-primary.disabled, .btn.btn-primary:disabled {
    cursor: not-allowed;
}

.plz-import-socnet {
    margin-top: 35px;
}

.plz-import-socnet > h6 {
    font-weight: bold;
    text-transform: uppercase;
}

.plz-import-socnet .plz-import-socnet-text {
    color: #9A9A9A;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.plz-import-socnet .plz-import-socnet-btns {

}

.plz-socnet-btn {
    display: block;
    width: $plzSocNetBtnSize;
    min-width: $plzSocNetBtnSize;
    max-width: $plzSocNetBtnSize;
    height: $plzSocNetBtnSize;
    min-height: $plzSocNetBtnSize;
    max-height: $plzSocNetBtnSize;
    text-align: center;
    border: 1px solid #989898;
    border-radius: $plzSocNetBtnSize;
    transition: .4s;
}

.plz-socnet-btn .fab {
    color: #989898;
    transition: .4s;
}
.plz-socnet-btn:focus,
.plz-socnet-btn:hover {
    border: 1px solid #000000;
}

.plz-socnet-btn:focus .fab,
.plz-socnet-btn:hover .fab {
    color: #000000;
}
