.plz-login-form {
    width: 420px;
    max-width: 420px;
    min-width: 420px;
    margin-right: 24px;
}

.lr-input-email, .lr-input-password {
    background-image: url("../images/icons/input-email.png");
    background-position: 8px center;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.lr-input-password {
    background-image: url("../images/icons/input-name.png");
}

.btn.plz-btn.btn-login {
    margin-top: 27px;
}

.btn.plz-btn.btn-registration {
    margin-top: 20px;
}

.btn-primary.disabled, .btn-primary:disabled {
    cursor: not-allowed;
}

.plz-import-socnet {
    margin-top: 35px;
}

.plz-import-socnet > h6 {
    font-weight: bold;
    text-transform: uppercase;
}

.plz-import-socnet .plz-import-socnet-text {
    color: #9A9A9A;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 25px;
    margin-bottom: 40px;
}

.plz-import-socnet .plz-import-socnet-btns {

}

.plz-import-socnet .plz-import-socnet-btns .plz-socnet-btn {
    display: block;
    width: 48px;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    min-height: 48px;
    max-height: 48px;
    text-align: center;
    border: 1px solid #989898;
    border-radius: 48px;
}

.plz-import-socnet .plz-import-socnet-btns .plz-socnet-btn > i.fab {
    color: #989898;
}
