.plz-registration-form-wrapper {
    h5 {
        font-size: 24px;;
        margin-bottom: .6em;
    }

    .icon {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
    }

    .symbol-registration {
        margin-bottom: 30px;
        display: block;
        vertical-align: middle;
        background: url("../images/icons/icon-registration.png") 50% 50% no-repeat;
        //width: 127px;
        width: 100%;
        height: 111px;
    }

    .form-group {
        position: relative;
        margin-bottom: 0;
    }

    .form-control.lr-input {
        display: block;
        width: 100%;
        max-width: 100%;
        height: 40px;
        padding-left: 50px;
        margin: 0;
    }

    #btnRegistration.plz-btn {
        margin-top: 26px;
        box-shadow: 0 5px 18px rgba(61, 81, 222, .4);
        font-family: OpenSans-Bold, sans-serif;
        font-size: 11px;
    }

}
