/node_modules
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/dist

# Editor directories and files
.idea

# windows thumbnail cache
Thumbs.db

#targa local settings
#index.html
/src/libs/
/public/js/*.LICENSE.txt
/images
