# Editor directories and files
.idea
.vs

# windows thumbnail cache
Thumbs.db

/*/*.bak
/dev_deploy.sh
/stage_deploy.sh

# local dicker file
/docker-compose.local.yml
/frontend/dist

#mysql_data_plizi
#mysql8_data_plizi
#mongodb_data_plizi
#redis_data_plizi
#neo4j-persistence

# vcode workspace
*.sublime-project
*.sublime-workspace
*.code-workspace


backend-node-ws/node_modules
backend-node-ws/*.sh
backend-node-ws/test
backend-node-ws/log*
