{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Socnet Plizi"
  },
  "host": "vm1095330.hl.had.pm",
  "basePath": "/api",
  "tags": [
    {
      "name": "Friendships",
      "description": "Все, что касается друзей"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/user/friendship": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Отправить запрос на добавление в друзья",
        "operationId": "addToFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя которго требуется добавить в друзья",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Запрос на добавление в друзья отправлен"
                }
              }
            }
          },
          "422": {
            "description": "Вы уже отправляли запрос данному пользователю / Вы уже отправляли запрос данному пользователю"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Список моих друзей",
        "operationId": "myFriendsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Вы уже отправляли запрос данному пользователю / Вы уже отправляли запрос данному пользователю"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/{id}/friendship": {
      "get": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Список моих друзей",
        "operationId": "userFriendsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID пользователя чей листинг необходимо показать",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship/accept": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Принять запрос на добавление в друзья",
        "operationId": "acceptFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя от которого требуется принять заявку",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Вы приняли пользователя в друзья",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Вы приняли пользователя в друзья"
                }
              }
            }
          },
          "422": {
            "description": "Данный пользователь не отправлял вам запрос в друзья"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship/decline": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Принять запрос на добавление в друзья",
        "operationId": "declineFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя от которого требуется отклонить заявку",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Вы отклонили запрос на добавление в друзья от пользователя",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Вы отклонили запрос на добавление в друзья от пользователя"
                }
              }
            }
          },
          "422": {
            "description": "Данный пользователь не отправлял вам запрос в друзья"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "isOnline": {
          "type": "boolean"
        },
        "profile": {
          "type": "object",
          "properties": {
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "sex": {
              "type": "string"
            },
            "birthday": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "relationshipId": {
              "type": "string"
            },
            "userPic": {
              "type": "string"
            }
          }
        }
      },
      "xml": {
        "name": "User"
      }
    }
  }
}