{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Socnet Plizi"
  },
  "host": "vm1095330.hl.had.pm",
  "basePath": "/api",
  "tags": [
    {
      "name": "User",
      "description": "Все, что касается пользователей"
    },
    {
      "name": "Friendships",
      "description": "Все, что касается друзей"
    },
    {
      "name": "Communities",
      "description": "Все, что касается сообществ"
    },
    {
      "name": "Posts",
      "description": "Все, что касается публикаций"
    },
    {
      "name": "Chats",
      "description": "Все, что касается диалогов и сообщений"
    }
  ],
  "schemes": [
    "https",
    "http"
  ],
  "paths": {
    "/chat/dialogs": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "",
        "description": "Список моих диалогов",
        "operationId": "getListOfDialogs",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Dialogs"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/chat/messages/{dialog_id}": {
      "get": {
        "tags": [
          "Chats"
        ],
        "summary": "",
        "description": "Список сообщений в диалоге",
        "operationId": "getListOfDialogMessages",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "dialog_id",
            "description": "ID диалога",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "list": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Messages"
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/send": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "",
        "description": "Отправить сообщение",
        "operationId": "sendMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateMessage"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/PostByUser"
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/message/user": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "",
        "description": "Отправить сообщение пользователю",
        "operationId": "sendMessageToUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/CreateMessageToUser"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/PostByUser"
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/message/attachments": {
      "post": {
        "tags": [
          "Chats"
        ],
        "summary": "",
        "description": "Загрузить файлы",
        "operationId": "uploadMessageAttachments",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "files",
            "in": "formData",
            "description": "file to upload",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/PostByUser"
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/posts": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "",
        "description": "Создать пост",
        "operationId": "createPost",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "body": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/PostByUser"
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/posts/{id}": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "",
        "description": "Посты на моей стене",
        "operationId": "postsById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID Поста",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/PostWithAll"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/communities/{id}/posts": {
      "post": {
        "tags": [
          "Posts"
        ],
        "summary": "",
        "description": "Создать пост в группе",
        "operationId": "createPostFromCommunity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "body": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/PostByCommunity"
                      }
                    }
                  }
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/posts": {
      "get": {
        "tags": [
          "Posts"
        ],
        "summary": "",
        "description": "Посты на моей стене",
        "operationId": "postsFromMyWall",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/PostWithAll"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/register": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Отправить запрос на регистрацию",
        "operationId": "register",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "birthday": {
                  "type": "string",
                  "default": null
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Успешно зарегистрирован",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "email": {
                  "type": "string"
                }
              }
            }
          },
          "402": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/login": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Отправить запрос на регистрацию",
        "operationId": "login",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "email": {
                  "type": "string"
                },
                "password": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно авторизован",
            "schema": {
              "type": "object",
              "properties": {
                "token": {
                  "type": "string"
                },
                "chanel": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/user": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Получить данные пользователя",
        "operationId": "getUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Успешно получен",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "",
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string",
                  "example": "new name"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/{id}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Получить данные пользователя",
        "operationId": "getUserById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID пользователя",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно получен",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/search": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Получить данные пользователя",
        "operationId": "searchUser",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "search": {
                  "type": "string",
                  "example": "Search string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/profile/image": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Загрузить изображение для пользователя",
        "operationId": "uploadImage",
        "consumes": [
          "multipart/form-data"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "tag",
            "in": "formData",
            "description": "Additional data to pass to server",
            "required": true,
            "type": "string"
          },
          {
            "name": "file",
            "in": "formData",
            "description": "file to upload",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно получен",
            "schema": {
              "type": "object",
              "properties": {
                "path": {
                  "type": "string",
                  "example": "https://plizi.s3.eu-north-1.amazonaws.com/images/originals/WEP0464rMZ9J3j0QWmTTbX5oVyC46kJI6PZMtI56.png"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/notifications": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "",
        "description": "Получить уведомления пользователя",
        "operationId": "getUserNotifications",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/NotificationRes"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/communities": {
      "post": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Создать сообщество",
        "operationId": "createCommunity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunityInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Community"
                }
              }
            }
          },
          "422": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Список сообществ",
        "operationId": "getCommunities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/Community"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/communities/{id}": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Список сообществ в которых я учавствую",
        "operationId": "getCommunityById",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Community"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "patch": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Обновить сообщество",
        "operationId": "updateCommunity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          },
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CommunityInput"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/Community"
                }
              }
            }
          },
          "422": {
            "description": "",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "errors": {
                  "type": "object",
                  "properties": {
                    "field": {
                      "type": "array",
                      "items": {
                        "example": "Here will be error of the field"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/communities/{id}/subscribe": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Подписаться на сообщество",
        "operationId": "subscribeOnCommunity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "id": {
                  "type": "number"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/communities/{id}/unsubscribe": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Отписаться от сообщества",
        "operationId": "unsubscribeFromCommunity",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string"
                },
                "id": {
                  "type": "number"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/communities": {
      "get": {
        "tags": [
          "Communities"
        ],
        "summary": "",
        "description": "Список сообществ в которых я учавствую",
        "operationId": "getUserCommunities",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID сообщества",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "$ref": "#/definitions/UserWithCommunities"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Отправить запрос на добавление в друзья",
        "operationId": "addToFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя которго требуется добавить в друзья",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Запрос на добавление в друзья отправлен"
                }
              }
            }
          },
          "422": {
            "description": "Вы уже отправляли запрос данному пользователю / Вы уже отправляли запрос данному пользователю"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      },
      "get": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Список моих друзей",
        "operationId": "myFriendsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/{id}/friendship": {
      "get": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Список друзей пользователя",
        "operationId": "userFriendsList",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "description": "ID пользователя чей листинг необходимо показать",
            "required": true,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "Успешно добавлен",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship/pending": {
      "get": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Список пользователей запросившых подтверждение на добавление в друзья",
        "operationId": "pendingFriendsRequests",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "ОК",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "properties": {
                    "list": {
                      "type": "array",
                      "items": {
                        "$ref": "#/definitions/User"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Not allowed"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship/accept": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Принять запрос на добавление в друзья",
        "operationId": "acceptFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя от которого требуется принять заявку",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Вы приняли пользователя в друзья",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Вы приняли пользователя в друзья"
                }
              }
            }
          },
          "422": {
            "description": "Данный пользователь не отправлял вам запрос в друзья"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/user/friendship/decline": {
      "post": {
        "tags": [
          "Friendships"
        ],
        "summary": "",
        "description": "Принять запрос на добавление в друзья",
        "operationId": "declineFriend",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "description": "ID пользователя от которого требуется отклонить заявку",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "userId": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Вы отклонили запрос на добавление в друзья от пользователя",
            "schema": {
              "type": "object",
              "properties": {
                "message": {
                  "type": "string",
                  "default": "Вы отклонили запрос на добавление в друзья от пользователя"
                }
              }
            }
          },
          "422": {
            "description": "Данный пользователь не отправлял вам запрос в друзья"
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "CreateMessage": {
      "type": "object",
      "properties": {
        "chat_id": {
          "type": "number"
        },
        "body": {
          "type": "string"
        },
        "replyOnMessageId": {
          "type": "number"
        },
        "forwardFromChatId": {
          "type": "number"
        },
        "attachments": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "CreateMessageToUser": {
      "type": "object",
      "properties": {
        "chat_id": {
          "type": "number"
        },
        "body": {
          "type": "string"
        },
        "replyOnMessageId": {
          "type": "number"
        },
        "forwardFromChatId": {
          "type": "number"
        },
        "attachments": {
          "type": "array",
          "items": {
            "type": "number"
          }
        }
      }
    },
    "Messages": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "userPic": {
          "type": "string"
        },
        "sex": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "isMine": {
          "type": "boolean"
        },
        "isRead": {
          "type": "boolean"
        },
        "isEdited": {
          "type": "boolean"
        },
        "createdAt": {
          "type": "number"
        },
        "updatedAt": {
          "type": "number"
        },
        "attachments": {
          "type": "object",
          "properties": {
            "list": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageAttachments"
              }
            }
          }
        },
        "replyOn": {
          "$ref": "#/definitions/MessagesWithoutRef"
        },
        "isForward": {
          "type": "boolean"
        }
      }
    },
    "MessagesWithoutRef": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "userPic": {
          "type": "string"
        },
        "sex": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "isMine": {
          "type": "boolean"
        },
        "isRead": {
          "type": "boolean"
        },
        "isEdited": {
          "type": "boolean"
        },
        "createdAt": {
          "type": "number"
        },
        "updatedAt": {
          "type": "number"
        },
        "attachments": {
          "type": "object",
          "properties": {
            "list": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MessageAttachments"
              }
            }
          }
        },
        "replyOn": {
          "$ref": "#/definitions/Messages"
        },
        "isForward": {
          "type": "boolean"
        }
      }
    },
    "MessageAttachments": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "originalName": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "mimeType": {
          "type": "string"
        },
        "size": {
          "type": "number"
        }
      }
    },
    "Dialogs": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "lastMessageText": {
          "type": "string"
        },
        "lastMessageDT": {
          "type": "string"
        },
        "isRead": {
          "type": "boolean"
        },
        "isLastFromMe": {
          "type": "boolean"
        },
        "attendees": {
          "$ref": "#/definitions/Attendees"
        }
      }
    },
    "Attendees": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "lastActivity": {
          "type": "string"
        },
        "userPic": {
          "type": "string"
        },
        "firstName": {
          "type": "string"
        },
        "lastName": {
          "type": "string"
        },
        "isOnline": {
          "type": "boolean"
        },
        "sex": {
          "type": "string"
        }
      }
    },
    "NotificationRes": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "data": {
          "type": "object",
          "properties": {
            "sender": {
              "type": "object",
              "properties": {
                "firstName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "id": {
                  "type": "number"
                },
                "postId": {
                  "type": "number"
                }
              }
            },
            "body": {
              "type": "string"
            },
            "type": {
              "type": "string",
              "example": "user.post.created"
            }
          }
        },
        "readAt": {
          "type": "string"
        },
        "createdAt": {
          "type": "string"
        }
      }
    },
    "PostByUser": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "primaryImage": {
          "type": "string"
        },
        "likes": {
          "type": "number"
        },
        "views": {
          "type": "number"
        },
        "sharesCount": {
          "type": "number"
        },
        "commentsCount": {
          "type": "number"
        },
        "createdAt": {
          "type": "number"
        },
        "user": {
          "$ref": "#/definitions/User"
        }
      }
    },
    "PostByCommunity": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "primaryImage": {
          "type": "string"
        },
        "likes": {
          "type": "number"
        },
        "views": {
          "type": "number"
        },
        "sharesCount": {
          "type": "number"
        },
        "commentsCount": {
          "type": "number"
        },
        "createdAt": {
          "type": "number"
        },
        "community": {
          "$ref": "#/definitions/Community"
        }
      }
    },
    "PostWithAll": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number"
        },
        "name": {
          "type": "string"
        },
        "body": {
          "type": "string"
        },
        "primaryImage": {
          "type": "string"
        },
        "likes": {
          "type": "number"
        },
        "views": {
          "type": "number"
        },
        "sharesCount": {
          "type": "number"
        },
        "commentsCount": {
          "type": "number"
        },
        "createdAt": {
          "type": "number"
        },
        "user": {
          "$ref": "#/definitions/User"
        },
        "community": {
          "$ref": "#/definitions/Community"
        }
      }
    },
    "CommunityInput": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "notice": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "Community": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "notice": {
          "type": "string"
        },
        "primaryImage": {
          "type": "string"
        },
        "url": {
          "type": "string"
        },
        "website": {
          "type": "string"
        },
        "location": {
          "type": "string"
        }
      }
    },
    "UserWithCommunities": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "isOnline": {
          "type": "boolean"
        },
        "communities": {
          "type": "object",
          "properties": {
            "list": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/Community"
              }
            }
          }
        },
        "profile": {
          "type": "object",
          "properties": {
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "sex": {
              "type": "string"
            },
            "birthday": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "relationshipId": {
              "type": "number"
            },
            "userPic": {
              "type": "string"
            }
          }
        }
      }
    },
    "User": {
      "type": "object",
      "properties": {
        "id": {
          "type": "integer",
          "format": "int64"
        },
        "email": {
          "type": "string"
        },
        "isOnline": {
          "type": "boolean"
        },
        "profile": {
          "type": "object",
          "properties": {
            "firstName": {
              "type": "string"
            },
            "lastName": {
              "type": "string"
            },
            "sex": {
              "type": "string"
            },
            "birthday": {
              "type": "string"
            },
            "city": {
              "type": "string"
            },
            "relationshipId": {
              "type": "number"
            },
            "userPic": {
              "type": "string"
            }
          }
        }
      },
      "xml": {
        "name": "User"
      }
    }
  }
}
