@import './ui-kit/index.scss';

@import 'LoginPage.scss';
@import './common/index.scss';
@import './components/index.scss';



@media (min-width:1200px){
    .container-wide{max-width:1410px}
}

html,
body {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 15px;
}
body {
    background-color: $plzBodyBG;
}

/* TODO: @TGA - прописать более детально */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
#contentContainer {
    margin-top: 70px;
    min-height: 200px;
}

.page-logo {
    &-bg {
        fill: #1554F7;
        transition: .4s;
    }
    &:hover {
        .page-logo-bg {
            fill: #98989a;
        }
    }
}

.btn.disabled, .btn:disabled {
    opacity: 1.0;
    cursor: not-allowed;
}

.icon-40 {
    display: block;
    float: right;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    margin: 15px 10px 0 0;
}

.icon-40 > img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.icon-modal-close {
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-modal-close.png") 50% 50% no-repeat;
    width: 20px;
    height: 20px;
}

.bg-white-br20 {
    background-color: white;
    border-radius: $plzRoundRadius;
}

.btn-add-file {
    &:hover {
        svg {
            fill: $iconHoverColor;
        }
    }
    svg {
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 18px;
        fill: $iconDefaultColor;
    }
}
.btn-add-camera {
    &:hover {
        svg {
            fill: $iconHoverColor;
        }
    }
    svg {
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 18px;
        fill: $iconDefaultColor;
    }
}
.btn-add-smile {
    &:hover {
        svg {
            fill: $iconHoverColor;
        }
    }
    svg {
        display: inline-block;
        vertical-align: top;
        width: 18px;
        height: 18px;
        fill: $iconDefaultColor;
    }
}


.plz-br20 {
    border-radius: $plzRoundRadius;
}

.plz-br20-top {
    border-radius: $plzRoundRadius $plzRoundRadius 0 0;
}

.plz-mb20 {
    margin-bottom: $plzBlockMarginBottom;
}

.top-search.form-control {
    color: #A3A8B9;
    /*width: 100%; !* 534px *!*/
    width: 534px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    background-color: #EEEFF4;

    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0;
    padding: 0 30px;

    background-image: url("../images/top-search-icon.png");
    background-repeat: no-repeat;
    background-position: 97% center;
}

.modal:before {
    content: '';
    position: absolute;
    top: 50px;
    right: 96px;
    display: inline-block;
    vertical-align: middle;
    background: url("../images/icons/icon-modal-close.png") 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.fade:not(.show) {
    display: none;
}

$dotsWidth: 4px;
.dots-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: $dotsWidth;
    height: $dotsWidth;
    border-radius: 100%;
    background-color: #b0b0b0;

    &:before,
    &:after {
        content: '';
        position: absolute;
        top: -$dotsWidth * 2;
        left: 0;
        width: $dotsWidth;
        height: $dotsWidth;
        border-radius: 100%;
        background-color: #b0b0b0;
    }
    &:after {
        top: $dotsWidth * 2;
    }
}

.loading {
    display: inline-block;
    font-size: 6px;
    margin-right: 10px;

    span {
        display: inline-block;
        vertical-align: top;
        width: 4px;
        height: 4px;
        background-color: #0B2E13;
        margin: 1px;
        border-radius: 100%;
        animation: dots 1s infinite ease-in-out;

        &:nth-child(2) {
            animation-delay: .2s;
        }
        &:nth-child(3) {
            animation-delay: .4s;
        }
    }
}

@keyframes dots {
    50% {
        opacity: 0;
        transform: scale(.7) translateX(4px);
    }
}

.dropdown {
    &-menu {
        background-color: rgba(0, 0, 0, .7);
        min-width: 7rem;
        border-radius: 10px;

        &.dropdown-white {
            background-color: #ffffff;
            border-radius: 20px;
            box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.11);
            border: 0;
        }

    }
    &-btn {
        background-color: transparent;
        border: 0;
        box-shadow: none!important;
    }

    &-item {
        padding: .2rem .7rem;
        line-height: 1.3rem;
        color: #ffffff;
        transition: .4s;
        &:hover {
            background-color: rgba(0, 0, 0, .9);
            color: #ffffff;
        }
    }
}

.counter-info {
    position: absolute;
    top: 4px;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: $counterInfoColor;
    color: #ffffff;
    font-size: 10px;
    border-radius: 7px;
    padding: 2px 4px;
    line-height: 1;
    z-index: 1;
}

/*- Radio button -*/
$radioTop: -2px;
$radioLeft: 0px;
$borderRadius: 18px;
$radioWidth: 18px;

.radio {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    color: red;
    input {
        position: absolute;
        left: 0;
        bottom: $radioTop;
        opacity: 0;
        z-index: 2;
    }

    input:checked {
        + span {
            color: #25282B;

            &:after {
                content: "";
                position: absolute;
                left: -$radioLeft;
                bottom: $radioTop;
                width: $radioWidth;
                display: inline-block;
                height: $radioWidth;
                z-index: 12;
                background-color: #4d54e5;
                background-image: url('../images/checked.svg');
                background-size: 12px 9px;
                background-repeat: no-repeat;
                background-position: 50%;
                border-radius: $borderRadius;
            }
        }
        ~ p {
            //font-family: $bold;
            color: #25282B;
        }
    }

    span {
        position: relative;
        display: inline-block;
        padding-left: 0;
        margin-left: $radioLeft;
        margin-bottom: 5px;

        font-size: 16px;
        line-height: 24px;
        //font-family: $bold;
        color: #828282;
    }

    span:before {
        content: "";
        position: absolute;
        left: -$radioLeft;
        bottom: $radioTop;
        width: $radioWidth;
        height: $radioWidth;
        z-index: 10;
        background-color: #CACCCF;
        border-radius: $borderRadius;
    }
    p {
        font-size: 16px;
        line-height: 24px;
        //font-family: $light;
        color: #828282;
        margin-left: auto;
    }
}

.attach-file {
    display: inline-block;
    cursor: pointer;

    input[type=file] {
        width: 0;
        height: 0;
        position: absolute;
        outline: 0;
        opacity: 0;
        pointer-events: none;
        user-select: none;
    }

    &:hover {
        svg {
            fill: $iconHoverColor;
        }
    }
}
