@import './ui-kit/plizi-variables.scss';

$bgImage: "/images/plizi-bg-exp.svg";

.loginPage-wrap {
    height: 100%;
    min-height: 800px;
}

body.LoginPage, body.HomePage {
    background-image: url($bgImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

body.LoginPage > .container-fluid,
body.HomePage > .container-fluid {
    max-width: 1008px;
}

body.LoginPage .modal-dialog-centered {
    width: 100%;
    max-width: 404px;
}

body.LoginPage .modal-body {
    padding: 35px 60px 50px;
}

