body {
    background-color: #F7F8FC;
}

body.LoginPage, body.HomePage {
    background-image: url("/images/plizi-bg-exp.svg");
    /*background-image: url("/images/blue-wave.png");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

body.LoginPage > .container-fluid, body.HomePage > .container-fluid {
    max-width: 1008px;
}

body.LoginPage .modal-dialog-centered {
    width: 100%;
    max-width: 404px;
}

body.LoginPage .modal-body {
    padding: 35px 60px 50px;
}

#contentContainer {
    margin-top: 70px;
    min-height: 200px;
}

.btn.disabled, .btn:disabled {
    opacity: 1.0;
}

.icon-40 {
    display: block;
    float: right;
    width: 40px;
    max-width: 40px;
    height: 40px;
    max-height: 40px;
    margin: 15px 10px 0px 0px;
}

.icon-40 > img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

.icon-registration {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-registration.png") 50% 50% no-repeat;
    width: 127px;
    height: 111px;
}

.icon-user {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-user.png") 50% 50% no-repeat;
    width: 16px;
    height: 16px;
}

.icon-letter {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-letter.png") 50% 50% no-repeat;
    width: 17px;
    height: 12px;
}
.icon-calendar {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-calendar.png") 50% 50% no-repeat;
    width: 17px;
    height: 18px;
}
.icon-modal-close {
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-modal-close.png") 50% 50% no-repeat;
    width: 20px;
    height: 20px;
}

.bg-white-br20 {
    background-color: white;
    border-radius: 20px;
}

.plz-br20 {
    border-radius: 20px;
}

.form-control.lr-input {
    border-radius: 0px;
    width: 278px;
    max-width: 278px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px 0px 1px 0px;
    border-color: #d7d7d7;
    background-color: transparent;
}

.form-control.lr-input:focus,
.form-control.lr-input:active {
    /*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);*/
    box-shadow: none;
    outline: 0 none;
    border-color: #000;
}

.btn.plz-btn {
    display: block;
    margin: 0px auto;
    padding: 0px;

    width: 278px;
    max-width: 278px;
    min-width: 278px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    line-height: 34px;
    border-radius: 20px;
    text-align: center;

    box-shadow: none;
    outline: 0 none;
    transition: none;
    text-transform: uppercase;
    font-weight: bold;
}

.btn.plz-btn-primary {
    background-color: #3D51DE;
    color: white;
}

.btn.plz-btn-outline {
    color: #3D51DE;
    background-color: white;
    border-width: 2px;
    border-color: #3D51DE;
}

.top-search.form-control {
    color: #A3A8B9;
    /*width: 100%; !* 534px *!*/
    width: 534px;
    height: 40px;
    min-height: 40px;
    max-height: 40px;
    background-color: #EEEFF4;

    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    border-width: 0px;
    padding: 0px 30px;

    background-image: url("/images/top-search-icon.png");
    background-repeat: no-repeat;
    background-position: 97% center;
}

.modal:before {
    content: '';
    position: absolute;
    top: 50px;
    right: 96px;
    display: inline-block;
    vertical-align: middle;
    background: url("/images/icons/icon-modal-close.png") 50% 50% no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

