// FONTS
//Light       300
//Regular     400
//Semi-bold   600
//Bold        700
//Extra-bold  800


$plzBodyBG: #F7F8FC;
$plzBlockBG: white;
$bgHover: #dae4ee;

$borderColor: #E8e8e8;

$iconDefaultColor: #bdbdbd;
$iconHoverColor: #576df6;

$postTextColor: #363636;
$postCounterColor: #bab9b9;
$postCounterhoverColor: #bdd197;

$plzRoundRadius: 20px;
$plzBlockMarginBottom: 20px;

$linkHoverColor: #9a9da7;

$counterInfoColor: #FF4626;

$red: #fd956c;
$grey: #cececf;
$lightGreen: #c4df94;



