
// rules for --px and low

@media (max-width: 1200px) {
    .plizi-community-item-body {
        width: 100%;
    }
    .plizi-community-item-body-bottom .btn {
        width: 100%;
    }
}

/*- md -*/
@media (max-width: 992px) {
    .plz-account-settings-body .multiselect__content-wrapper {
        transform: translateX(-55%);
    }
    .plz-account-settings-body-field .fa-map-marker-alt {
        left: 0;
    }

    #toolbarLeftColor {
        .add-new {
            width: 32px;
            min-width: 32px;
            height: 32px;
            .fa {
                line-height: 32px;
            }
        }

        img{
            position: relative;
            width: 32px;
            height: 32px;
            border-radius: 100%;
            overflow: hidden;
        }
    }

    .plizi-friend-item-pic {
        width: 60px;
        min-width: 60px;
        height: 60px;
        img {
            width: 60px;
            min-width: 60px;
            height: 60px;
            border-radius: 60px;
        }
    }

    .is-chatPage .chat-page-height-body {
        //height: calc(100vh - 240px);
        height: auto;
    }
    .is-chatPage .chat-page-height-aside {
        height: auto;
        min-height: auto;
    }

    .chat-dialogs-list {
        border: 0;
        height: 200px;
        flex: 0 0 200px
    }

    #chatMain {
        border: 1px solid $borderColor;
    }
    #chatMessagesWrapper {
        position: relative;
        height: 370px; //500
        flex: 1 1 auto;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
            pointer-events: none;
            border-radius: 0 0 20px 20px;
        }
    }
    #chatMessagesWrapperBody {
        position: relative;
        flex: 1 1 auto;
    }
    #chatHeader {
        border-top: 1px solid $borderColor;
    }
    .ChatsListPage #chatHeader {
        border-radius: 0;
    }

    #chatMessagesBody {
        padding-bottom: 180px;

        .chat-messages-scroll {
            min-height: 115px;
        }
    }

    .plz-gallery-viewer-nav-btn {
        height: 40px;
    }

    .plz-gallery-viewer-current  {
        max-width: calc(100vw - 90px);
        max-height: calc(100vh - 100px);
    }

    #watcherWrapper {
        .dropdown-menu {
            left: 50%;
            right: auto;
            transform: translateX(-62%);
            max-width: 96vw;
        }
    }


    #communityEditor,
    #profileWhatsNew {
        .picker {
            transform: translate(-80%, 40px) !important;
        }
    }
}

/*- md -*/
@media (max-width: 767px) {
    .LoginPage,
    .UpdatePasswordPage,
    .HomePage,
    .ForDevelopersPage #guestPageWrapper,
    .AdvertisementPage #guestPageWrapper,
    .RulesPage #guestPageWrapper,
    .AboutPage #guestPageWrapper
    {
        #contentContainer {
            padding-top: 76px;
        }
    }

    #contentContainer {
        padding-top: 76px;
    }
    #toolbarLeftColor {
        .add-new {
            width: 48px;
            min-width: 48px;
            height: 48px;
            .fa {
                line-height: 48px;
            }
        }

        img{
            position: relative;
            width: 48px;
            height: 48px;
            border-radius: 100%;
            overflow: hidden;
        }
    }


    .plz-editor-body {
        width: 100%;
    }

    .plz-text-editor,
    .plz-text-editor-form {
        min-height: 150px;
    }
    .plz-text-editor-form {
        width: calc(100% - 50px);
    }
    .plz-editor-btns {
        position: absolute;
        top: 10px;
        right: 0;
        margin-top: 40px;
        width: 40px;
    }


    .plz-post-item{
        .plz-post-item-header,
        .plz-post-item-body,
        .plz-post-item-images,
        .plz-post-item-footer {
            padding: 0 15px;
        }
    }

    $portraitFullHeightResponsive: 400px;
    .plz-gallery {
        &-wrap {
            height: $portraitFullHeightResponsive;
        }
        &-image {
            &-album {
                &-2 {
                    height: $portraitFullHeightResponsive / 2;
                }
                &-3 {
                    height: $portraitFullHeightResponsive / 2;
                }
            }
            &-portrait {
                &-full {
                    height: $portraitFullHeightResponsive;
                }

                &-half {
                    height: $portraitFullHeightResponsive / 2;
                }
                &-third {
                    height: $portraitFullHeightResponsive / 3;
                }
            }
        }
    }

    .video-player {
        .video-js {
            height: 400px;
        }
    }


    #toolbarLeftGrey::after {
        content: none;
    }

    .plz-community-header-details {
        width: 100%;
    }

    .profile-filter {
        &-links {
            width: 100%;
        }
    }

    .plz-footer .plz-bottom-link {
        padding: .5rem 0;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            width: 50%;
        }
        &:nth-child(4),
        &:nth-child(5){
            width: 50%;
        }
        &:nth-child(6){
            width: 100%;
        }
    }


    .ForDevelopersPage,
    .AdvertisementPage,
    .RulesPage,
    .AboutPage {
        #pageWrapper {
            .plz-footer {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

}/*- max-width: 767px -*/



/*- sm -*/
@media (max-width: 576px) {

    .plz-latest-entries {
        h6 {
            padding-left: 0;
        }
        &-list {
            padding: 0 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        &-item {
            width: 48%;
            margin-right: 0;
        }
    }
    #pliziMobile .plizi-mobile {
        min-height: 200px;
    }
    .modal {
        min-height: 600px;

        &:before {
            right: 15px;
        }
    }

    .LoginPage,
    .UpdatePasswordPage,
    .HomePage {
        .modal-body {
            padding: 35px 20px 50px;
        }
    }

    #authHeader {
        .plz-top-watcher {
            .icon {
                height: 20px;
                width: 20px;
            }
        }
        .counter-info {
            left: 80%;
            top: 2px;
        }
    }

    .plz-account-settings-body-field {
        padding: 0;
    }

    #toolbarLeftColor {
        overflow: auto;
    }


    #additionalBtns .btn,
    .videos-filter-links,
    .profile-filter-links {
        display: block;
        width: 100%;
    }



    .plz-user-profile-details td:first-child {
        width: auto;
    }

    .numbers-bottom {
        font-size: 12px;
    }


    .plz-community-subscribe {
        width: 100%;
    }

    .plz-community-header-details-text {
        width: 100%;
        text-align: center;
    }


    .plizi-sr-item-body {
        width: 100%;
    }
    .plizi-sr-item .plizi-community-btn {
        width: 100%;
        margin-top: 10px;
    }

}
