.navbar.plz-footer {
    background-color: transparent;
    margin-top: 46px;

    .nav-link.plz-copy {
        color: #a1a1a2;
    }
    .nav-link {
        color: #484849;
        &:hover{
            color: $linkHoverColor;
        }
    }
    .plz-bottom-link {
        height: 40px;
        line-height: 40px;
    }
}
