
.plz-favorit-friends {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}
.plz-favorit-friends .fa-chevron-right{
    font-size: 10px;
    color: #acacac;
    line-height: 27px;
}
.plz-favorit-friends .border-bottom{
    border-color: #e9ecf6;
}
.plz-favorit-friends-list {
    overflow: auto;
    max-height: 430px;
}

.plz-ff-title {
    font-size: 16px;
    color: #50535e;
}

.plz-favorit-friend-userpic {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 42px;
    min-width: 42px;
    height: 42px;
    margin-right: 20px;

    img {
        width: 42px;
        height: 42px;
    }
}

.plz-favorit-isonline {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: #9fcd48;
    border: 1px solid #fff;
    border-radius: 100%;
}
.plz-favorit-isoffline {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    right: 0;
    bottom: 0;
    background-color: #cacac9;
    border: 1px solid #fff;
    border-radius: 100%;
}
.plz-favorit-friend-name {
    font-size: 13px;
    color: #50535e;
}
.plz-favorit-friend-status {
    display: flex;
    align-items: center;

}
.plz-favorit-friend-status p {
    color: #acaeb7;
    font-size: 13px;
    margin-bottom: 0;
}
.plz-ff-messages-count span {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    height: 16px;
    background-color: #ef482c;
    font-size: 11px;
    font-weight: 600;
    color: #fff;
    border-radius: 16px
}
