.plz-footer {
    background-color: transparent;
    margin-top: 46px;

    .nav-link.plz-copy {
        color: #B6BEFD;
    }
    .nav-link {
        font-size: 13px;
        color: #F7F8FC;
        transition: .4s;
        &:hover {
            color: $linkHoverColor;
        }
    }
    .plz-bottom-link {
        height: 40px;
        line-height: 40px;
    }

    .fa-chevron-down {
        transition: .4s;
        font-size: 8px;
    }
    [aria-expanded="true"] {
        color: $linkHoverColor;

        .fa-chevron-down {
            transform: rotate(180deg);
        }
    }
    .dropdown {
        &-menu {
            min-width: 7rem;
        }
        &-item {
            padding: .2rem .7rem;
            line-height: 1.3rem;
        }
    }

}

