$minHeight: 200px;

#chatMessagesBody {

    height: calc(100% - 85px - 81px); // chat footer
    min-height: 200px;

    .chat-messages-scroll {
        height: 100%;
        min-height: 200px;
        position: relative;
        margin: 0;
        width: 100%;
        overflow: hidden;

    }
}
.messages-edit-group {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .15);

    .icon {
        display: inline-block;
        height: 16px;
    }
    .btn {
        font-size: 13px;
        font-weight: 700;
        color: #808086;
        transition: .4s;
        &:hover {
            background-color: $bgHover;
            color: $iconHoverColor;

            .icon {
                fill: $iconHoverColor;
            }
        }
        .icon {
            margin-right: 10px;
        }
    }
    .btn-message-basket {
        &:hover {
            color: #FF4626;
            .icon-basket {
                fill: #FF4626;
            }
        }
    }
}
