$minHeight: 200px;

#chatMessagesWrapperBody {
    height: calc(100% - 76px);
}

#chatPickAttendeesDialogBody {
    min-height: 440px;
}

#chatMessagesBody {
    padding-bottom: 81px; // потом регулируется vue

    .chat-messages-scroll {
        height: 100%;
        min-height: 200px;
        position: relative;
        margin: 0;
        width: 100%;
        overflow: hidden;

        .ps__rail-y {
            opacity: 1;
            width: 10px;
            background-color: #f8f9fa;
            box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.02);

            &:hover > .ps__thumb-y {
                background-color: #999;
                width: 6px;
            }
        }

    }
}

.multiselect__tags {
    overflow: auto;
    max-height: 100px;
}




