$chatMessageRadius: 20px;
$chatMessageMargin: 12px;
$chatMessagePadding: 12px;
$chatTimePadding: 12px;
$chatMessageUserPicSize: 32px;
$chatMessageUserPicMarginX: 10px;
$userMessageUserPicSize: 42px;
$chatMessageFS: 13px;

$chatTimeSizeMargin: 14px;
$chatTimeFontSize: 11px;

$chatTextSideMargin: 0.8rem;

$chatMessageMyMsgBG: #3D51DE;
$chatMessageMyMsgTextColor: white;
$chatMessageMyMsgTimeColor: #DEE2FD;

$chatMessageCompanionMsgBG: white;
$chatMessageCompanionMsgTextColor: #363636;
$chatMessageCompanionMsgTimeColor: #C1BFBF;

$chatHeight: calc(100vh - 154px);
$chatMessagesBodyHeight: calc(100% - 206px);


.media-pic {
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: $userMessageUserPicSize;
    height: $userMessageUserPicSize;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: $userMessageUserPicSize;
        min-height: $userMessageUserPicSize;
    }
}

.message-item {
    margin: 3px 0 5px;

    &.my-message,
    &.companion-message {
        display: block;
        max-width: 80%;

        &.compact-message{
            margin-top: $chatMessageMargin/4;
        }
    }

    &.my-message {
        &.fullsize-message {
            .message-body {
                padding-left: $chatTimePadding;
            }
        }
        .radio {
            margin-left: 20px;
        }

        .message-body {
            position: relative;
            background-color: $chatMessageMyMsgBG;
            border-radius: $chatMessageRadius $chatMessageRadius 0 $chatMessageRadius;
            padding: $chatMessagePadding;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.2);
        }

        .message-user-pic {
            margin-left: $chatMessageUserPicMarginX;
        }

        .message-text {
            margin-left: $chatTextSideMargin;
            display: block;
            p {
                color: $chatMessageMyMsgTextColor;
                font-size: $chatMessageFS;
            }
        }

        .message-time {
            font-size: $chatTimeFontSize;
            line-height: 1.8;
            color: $chatMessageMyMsgTimeColor;
        }
        .message-info {
            left: auto;
            right: calc(100% + 20px);
        }
        .message-resend {
            border-left: 2px solid #5774F3;
        }

        .chatHeader-title {
            color: #ffffff;
        }
    }

    &.companion-message {

        &.fullsize-message {
            .message-body {
                padding-right: $chatTimePadding;
            }
        }
        .radio {
            margin-right: 20px;
        }
        .message-body {
            position: relative;
            background-color: white;
            border-radius: $chatMessageRadius $chatMessageRadius $chatMessageRadius 0;
            padding: $chatMessagePadding;
            box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.07);
        }

        .message-user-pic {
            margin-right: $chatMessageUserPicMarginX;
        }

        .message-text {
            margin-right: $chatTextSideMargin;
            display: block;
            font-size: $chatMessageFS;
            color: $chatMessageCompanionMsgTextColor;
        }

        .message-time {
            font-size: $chatTimeFontSize;
            line-height: 1.8;
            color: $chatMessageCompanionMsgTimeColor;
        }
        .message-resend {
            border-left: 2px solid $grey;
        }
    }

    .radio {
        align-items: flex-end;
        span {
            width: 18px;
            height: 18px;
            margin: 0;
            font-size: 0;
            line-height: 0;
        }
    }
    .message-info {
        position: absolute;
        bottom: 12px;
        left: calc(100% + 20px);
        display: flex;
        align-items: center;
    }
    .message-edited {
        .icon-pencil-edit {
            height: 16px;
            width: 16px;
        }
    }
    .message-delivery {
        &.message-readed {
            .icon-checked-double {
                fill: $lightGreen;
            }
        }
        .icon-checked-double {
            height: 10px;
            width: 18px;
            fill: $grey;
        }
    }

    .message-user-pic {
        width: $chatMessageUserPicSize;
        min-width: $chatMessageUserPicSize;
        max-width: $chatMessageUserPicSize;
        height: $chatMessageUserPicSize;
        min-height: $chatMessageUserPicSize;
        max-height: $chatMessageUserPicSize;
        border-radius: $chatMessageUserPicSize;
        box-shadow: 0 0 2px 1px #fff;
        display: block;
        overflow: hidden;

        .message-user-img {
            width: 100%;
            height: 100%;
            border-radius: $chatMessageUserPicSize/2;
        }
    }
}

.message-sended-image {
    max-width: 200px;
    max-height: 200px;
}

.message-sended-zip {
    .icon-zip {
         width: 28px;
         height: 28px;
         margin: 0 5px;
     }
}

.is-chatPage {
    .chat-page-height{
        height: $chatHeight;
        min-height: 200px;
    }

    #chatMain {
        height: 100%;
    }

    #chatMessagesBody {
        height: $chatMessagesBodyHeight;
    }
}
