
#chatMessagesWrapper {
    .checked-message {
        background-color: #e3e6ec;
    }
}

#chatMain {
    box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.07);

    .chat-list-scroll {
        position: relative;
        margin: 0;
        width: 100%;
        overflow: hidden;

        .ps__rail-y {
            opacity: 1;
            width: 10px;
            background-color: #f8f9fa;
            box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.02);
        }
    }

}


.multiselect {
    &__content {
        padding-top: 2px;
        padding-bottom: 2px;

         &-wrapper {
             max-height: 250%;
         }
    }
    &__option {
        padding: 0;
        &--highlight {
            background-color: $grey;
        }
        &--selected{
            background-color: $grey!important;
        }
    }

    &__tag {
        background-color: $grey;
        color: #000000;

        &-icon{
            &:after{
                color: #fff;
            }
            &:hover {
                background-color: #c3c3c3;
            }}
    }
}
