$postPosterPicSize: 48px;

.plz-profile-user {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    color: #363636;
    font-family: OpenSans-Light, sans-serif;
    font-size: 13px;
}

.plz-post-item {
    .post-poster-pic {
        display: inline-block;
        width: $postPosterPicSize;
        min-width: $postPosterPicSize;
        max-width: $postPosterPicSize;
        height: $postPosterPicSize;
        min-height: $postPosterPicSize;
        max-height: $postPosterPicSize;
        text-align: center;
        vertical-align: middle;

        > img {
            width: 100%;
            height: auto;
            border-radius: $postPosterPicSize/2;
        }
    }

    .post-poster-title {
        font-size: 13px;
        font-weight: 800;
        color: #363636;
    }
    .post-poster-time {
        font-size: 13px;
        font-weight: 400;
        color: #9a9a9a;
    }

    .post-main-text {
        color: $postTextColor;
        font-weight: 300;
    }

    .post-pictures-list {
        max-width: 100%;
        height: max-content;

        .post-picture-pic {
            .post-picture-img {
                width: 100%;
                max-width: 100%;
                height: auto;
                max-height: 100%;
            }
        }

        .post-picture-main {
            width: 70%;
            height: max-content;
        }

        .post-picture-aux {
            width: 25%;
            height: max-content;
        }
    }

    .post-watched-counter {
        font-size: 13px;
        line-height: 17px;
        color: $postCounterColor;
        transition: .4s;
        &:hover {
            color: $iconHoverColor;
            cursor: pointer;

            .icon-eye,
            .icon-message,
            .icon-heard,
            .icon-share{
                fill: $iconHoverColor;
            }
        }
    }

    .plz-post-item-footer {
        .icon-eye,
        .icon-message,
        .icon-heard,
        .icon-share{
            width: auto;
            height: 17px;
            margin: 0 .25rem;
        }
    }
}
