.plz-recover-pass-form-wrapper {
    img {
        width: 100%;
        max-width: 138px;
    }
    #recoverPassBtn {
        width: 100%;
        max-width: 100%;
    }
}
#recoverPassInput {
    padding: 0 6px;
}
