
$srUserPicSize: 80px;
$srItemTimeColor: #9A9A9A;
$srItemNameColor: #363636;
$srItemOnlineColor: #9FCD48;
$srItemOfflineColor: #CACAC9;

.plizi-sr-item-user {
    border-bottom: 1px solid #ebebeb;
    transition: .4s;
    &:hover {
        background-color: #e6e7eb !important;
    }
    &:last-child {
        border-bottom: 0;
    }

    .user-friend-desc {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.plizi-sr-item {
    cursor: pointer;

    &-pic {
        display: inline-block;
        position: relative;
        height: $srUserPicSize;
        width: $srUserPicSize;

        img {
            display: inline-block;
            width: $srUserPicSize;
            height: $srUserPicSize;
        }
    }

    &-isonline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 10px;
        bottom: 0px;
        background-color: $srItemOnlineColor;
        border: 1px solid white;
        border-radius: 100%;
    }

    &-isoffline {
        display: block;
        position: absolute;
        width: 10px;
        height: 10px;
        right: 10px;
        bottom: 0px;
        background-color: $srItemOfflineColor;
        border: 1px solid white;
        border-radius: 100%;
    }

    &-body {
        &-top {
            time {
                font-size: 11px;
                color: $srItemTimeColor; // add color to var
            }

        }
    }

    &-name {
        font-size: 16px;
        font-weight: 600;
        color: $srItemNameColor;
        line-height: 20px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
            color: $srItemTimeColor;
        }
    }

    &-desc {
        font-size: 13px;
        color: $srItemTimeColor;
    }

    &-details {
        font-size: 12px;
        color: $srItemNameColor;
    }

    &-actions {
        &:hover {
            .dots-vertical,
            .dots-vertical:before,
            .dots-vertical:after {
                background-color: #363636;
            }
        }
    }

    .icon-message {
        height: 20px;
    }

}
