
#videoPageFilter {
    .additionalBtns {
        button {
            //color: #939292;
            font-size: 13px;
            //transition: .4s;
            //
            //&:hover {
            //    color: #2F2F2F;
            //}
        }
    }
}


.videos {
    &-content {
        .card {
            border: none;
            border-radius: 20px;

            .card-header {
                font-weight: bold;

                &:first-child {
                    border-radius: 20px;
                }
            }

            .card-body {
                img {
                }
            }
        }
    }

    &-filter-links {
        .nav-link {
            position: relative;
            display: block;
            font-size: 13px;
            color: #939292;
            border-bottom: 2px solid transparent;
            cursor: pointer; /** у <a> нету href наверное поэтому палец не показыватся, приходится фОрсить **/
            transition: .4s;
            &:hover {
                background-color: $bgHover;
            }
            &.active {
                border-bottom: 2px solid #576DF6;
                color: #2F2F2F;
            }
        }
    }

    &-item {
        position: relative;

        &-wide {
            .video {
                padding-bottom: 65.25%;
                img {
                    min-width: 100%;
                    min-height: 100%;
                }
                &-wrap-pre {
                    padding-bottom: 65.25%;
                }
            }
        }
    }
}


.video {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    z-index: 1;

    &:hover .video__button-shape,
    &:focus .video__button-shape {
        fill: #ff0000;
        fill-opacity: 1;
    }
    &:hover {
        .icon-play-video {
            fill: #ffffff;
        }
        .video-wrap-pre {
            &:after {
                background-color: rgba(0, 0, 0, .2);
            }
        }
    }

    &__button {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        padding: 0;
        width: 68px;
        height: 48px;
        border: none;
        text-align: center;
        pointer-events: none;
        background-color: transparent;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        &-shape {
            fill: #212121;
            fill-opacity: 0.8;
        }

        &-icon {
            fill: #ffffff;
        }

    }

    &-wrap {
        height: 0;
        padding-bottom: 56.25%;
        &-pre {
            position: relative;
            width: 100%;

            border-radius: 5px;
            overflow: hidden;
            height: 0;
            padding-bottom: 56.25%;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: rgba(0, 0, 0, 0);
                transition: .4s;
                pointer-events: none;
            }

            img {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                height: auto;
                transform: translate(-50%, -50%);
            }
        }

        & + .video__button {
            display: none;
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &-desc {
        font-size: 13px;
        color: $textGreyColor;
        &[href] {
            color: $textGreyColor;
        }
    }
    &-time {
        position: absolute;
        bottom: 10px;
        right: 10px;
        padding: 3px 8px;
        background-color: rgba(0, 0, 0, .4);
        color: #ffffff;
        border-radius: 4px;
    }
}
