$plzBodyBG: #F7F8FC;
$plzBlockBG: white;
$iconDefaultColor: #bdbdbd;
$iconHoverColor: #576df6;

$plzRoundRadius: 20px;
$plzBlockMarginBottom: 20px;

$linkHoverColor: #9a9da7;


// FONTS
//Light       300
//Regular     400
//Semi-bold   600
//Bold        700
//Extra-bold  800
